<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Reset</title>
</head>
<body>
<table style="margin:0 auto;width: 50%; height: 20vh; background-color: white; border: 1px solid gray; border-radius: 15px; white-space: pre-wrap">
    <tr>
        <td align="center" valign="middle">
            <h1 style="font-size: 1.2em; font-weight: bold; color: #2b6cb0;">Password Reset</h1>
            <p style="color: #2b6cb0;width:100%;text-align: center;">This link will expire in 1 hour.</p>
        </td>
    </tr>
    <tr>
        <td align="center" valign="middle">
            <p style="color: #2b6cb0;width: 100%;text-align: center;">Your reset code is: <span style="font-weight: bold;">{code}</span></p>
        </td>
    </tr>
    <tr>
        <td align="center" valign="middle">
            <p style="color: #2b6cb0;width:100%;text-align: center;">Click the link below to reset your password:</p>
        </td>
    </tr>
    <tr>
        <td align="center">
            <div>
                <a href="{link}" style="width: 30%; background-color: orange; color: white; font-weight: bold; padding: 6px ; border-radius: 4px; margin-bottom: 12px; text-decoration: none; display: flex;justify-content: center;align-items: center;">Reset Password</a>
            </div>
        </td>
    </tr>
</table>
</body>
</html>